.joystick-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  touch-action: none;
  z-index: 10000;
}

.joystick {
  position: absolute;
  left: calc(50% - 150px / 2);
  right: calc(50% - 150px / 2);
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: block;
  z-index: 10010;
}

.joystick-knob {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}